body {
    background-color: #9271c1;
    background-image: linear-gradient(306deg, #9271c1 34%, #54d7f0 82%, #f4f7f9 98%);
    
  }
  
  header {
    color: #ffffff;
  
  }
  
  h1 {
    text-align: center;
    color: rgb(245, 248, 250);
    font-size: 2.5em;
    
  }
  
  h2 {
    text-align: center;
    word-break: break-all;
    color: #f2f7f8;
    font-size: 2.5em;

  }
  h3 {
    color: #fafdfd;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 2em;

  }
  
  p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 248, 248);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(26, 25, 25);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  #9271c1;
  }
  
  footer {
    padding: 60px;
    text-align: right;
    font-size: 30px;
  }
  .column {
    float: left;
    width: 100px;
    padding: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
footer {
    padding: 60px;
    text-align: right;
    font-size: 30px;
  }
